<!DOCTYPE html>
<html >
<head>
<meta charset = "uft-8">
<title> pq</title>
<link rel = "stylesheet" type = "text/css" href = "css/n.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script>
   function p(){
	   window.location.href = "http://localhost/p/n.pug
"
   }
   function q(){
	   window.location ="http://localhost/p/q.php"
   }
   function y(){
	   window.location = "http://localhost/p/i.php"
   }
   function e(){
	   window.location ="http://localhost/p/y.php"
   }
   function r(){
	   document.getElementByld('r').innerHTML = "0";
   }
   (function v(){
	   $(".button-collapse").sideNav();
   })
   $('.menu1').on('click', function(){
	   $('.list').toggleClass('hidden');
   });
	   
</script>
</head>
<body>
<div class = "t">
<abt>
<p>oi</p>
</abt>
<div class = "b">
<button6 onclick = "p()">  Calculo</button6>

<button1 onclick = "y()">Excel</button1>
<button2 onclick = "q()">HTML</button2>
<button4 onclick = "e()">CSS</button4>
</div>
<a href = "quem_somos.php">
<span class = "pers">
<i class = "material-icons">
person
</span>
</i>
</a>
</div>
<div class ="ibody">
<div class = "e">
<abnt>Calculo</abnt>
</div>
</div>
<div class ="menu">
<i class ="material-icons">
.menu1
<ul><list>
<li> salve

</i>
</div>


<div class ="t1">
<div class ="a">
<input type = "text">
<p id="r"></p>
<input type = "submit" onclick = "r()">
</html>