@font-face { font-family: RobotoThin; src: url('Roboto-Thin.ttf'); }
 @font-face{ font-family: RobotoBold; src: url('Roboto-Bold.ttf'); }


body{
	position:fixed;
	background:#03A696;
	margin: 0;
	padding:0;
	font-family:roboto;
	box-shadow:insert 0m 50m #038c8c;
}
.t{
	position:fixed;
	height: 9%;
	width: 100%;
	left: 0%;
	top: 0%;
	background: #0D0D0D33;
	box-shadow: 0px 1px  5px grey;
}
abt{
	position:fixed;
	font-family:roboto ;
	font-size: 14pt;
	color: #ffff;
	top:0%;
    left:4%;
}
.to{
	top:0%;
}
*{
	
}
.pers{
	position:fixed;
	top:2%;
	left:94%;
}
.lbody{
	position: fixed;
	width:100%;
	height:70%;
	background:#03A696;
	
}
::placeholder{
color:white;
}
.e{
	position:fixed;
	top:9%;
	width:100%;
	height:20%;
	background:#038c8c;
}
button6{
	position:fixed;
	top: 2%;
	left:14%;
	width:12%;
	height:8%;
	background:#038c8c;
	color:#FFFF;
}
button6:hover{
	background-color:#03A696;
	transition-duration: 0.2s;
}
button1{
	position:fixed;
	top: 2%;
	left:34%;
	width:12%;
	height:8%;
	background:#038c8c;
	color:#FFFF;
}
button1:hover{
	background-color:#03A696;
	transition-duration: 0.2s;
}
button2{
	position:fixed;
	top: 2%;
	left:48%;
	width:12%;
	height:8%;
	background:#038c8c;
	color:#FFFF;
}
button2:hover{
	background-color:#03A696;
	transition-duration: 0.2s;
}
button3{
	position:fixed;
	top: 2%;
	left:54%;
	width:12%;
	height:8%;
	background:#038c8c;
	color:#FFFF;
}
button3:hover{
	background-color:#03A696;
	transition-duration: 0.2s;
}
button4{
	position:fixed;
	top: 2%;
	left:64%;
	width:12%;
	height:8%;
	background:#038c8c;
	color:#FFFF;
}
button4:hover{
	background-color:#03A696;
	transition-duration: 0.2s;
}